/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.shadow {
	text-shadow: 2px 2px #800000;
}

h1 {
	font-size: 180%;
	text-indent:left;
	color: #800000
}
main p.indent {
	text-indent: 2em;
}
h2 {
	font-size: 170%;
	color: #800000;
}


h3{
	font-size: 130%;
}

/* the styles for the header */
header img {
	float: left;
	margin-right: 1em;
}
header txt{
	float: right;
}
a:hover {
	font-style: italic;
}
a:focus{
	font-style: italic;
}


/* the styles for the section */
main {
	clear: left;
}
footer{
	text-align: center
}
/* the styles for the footer */

